<section *ngIf="!loading && latestPoint && previousPoint">
    <h1 class="mat-headline">{{tickerName}} ({{ticker}})</h1>
    <h2 class="mat-display-3">
        {{ getLatestPrice() }}
        <span 
            class="mat-display-1" 
            style="margin-left: 2.5%;"
            [ngStyle] = "{
                'color': getLatestPercentChange() > 0 ? 'green': 'red'
            }"
        >
            {{ getLatestPercentChange() | percent : '1.3-5'}}
        </span>
        <div class="mat-caption">As of {{latestPoint.time}}</div>
    </h2>

    <div style="display: flex; flex-direction: column; width: 100%;">
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                Range
            </div> 
            <div>
                {{getLatestHigh()}} - {{getLatestLow()}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                Open
            </div> 
            <div>
                {{getLatestOpen()}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                Volume
            </div> 
            <div>
                {{getLatestVolume()}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                Market Cap
            </div> 
            <div>
                Value
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</section>

<mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
