<section>
    <h1 class="mat-headline">{{tickerName}} ({{ticker}})</h1>
    <h2 class="mat-display-3">
        Current Price
        <span class="mat-display-1" style="margin-left: 2.5%;">Change Percent</span>
        <div class="mat-caption">As of current time</div>
    </h2>

    <div style="display: flex; flex-direction: column; width: 100%;">
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                Range
            </div> 
            <div>
                Value
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                Open
            </div> 
            <div>
                Value
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                Volume
            </div> 
            <div>
                Value
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                Market Cap
            </div> 
            <div>
                Value
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</section>