<section *ngIf="!loading && latestQuote">
    <h1 class="mat-headline" style="margin-left: 2.5%;">{{tickerName}} ({{ticker}})</h1>
    <h2 class="mat-display-3" style="margin-left: 2.5%;">
        {{ latestQuote.price }}
        <span 
            class="mat-display-1" 
            style="margin-left: 2.5%;"
            [ngStyle] = "{
                'color': latestQuote.change > 0 ? 'green': 'red'
            }"
        >
            {{ latestQuote.change | number: '1.2'}} ({{ latestQuote.percent }})
        </span>
        <div class="mat-caption"  style="margin-left: 2.5%;">As of {{ getTime | date: 'medium' }}</div>
    </h2>

    <div style="display: flex; flex-direction: column; width: 90%; margin-left: 5%;">
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                Range
            </div> 
            <div>
                <strong>{{ latestQuote.high | number: '1.2' }} - {{ latestQuote.low | number: '1.2'}}</strong>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                Open
            </div> 
            <div>
                <strong>{{ latestQuote.open | number: '1.2' }}</strong>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                Volume
            </div> 
            <div>
                <strong>{{ latestQuote.volume/1000000  | number: '1.2' }}M</strong>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: row; justify-content: space-between;"
            >
            <div>
                Market Cap
            </div> 
            <div *ngIf="latestMarketCap">
                <strong> {{ latestMarketCap/1000000000 | number: '1.2' }}B</strong>
            </div>
            <div *ngIf="!latestMarketCap">
                <strong>Unable to locate</strong>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</section>

<mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
