<main>
  <form>
    <mat-form-field>
      <input 
        matInput
        type="text"
        placeholder="Select a ticker"
        aria-label="Stock ticker symbol"
        #trigger="matAutocompleteTrigger"
        [matAutocomplete]="auto"
        [formControl] = "searchControl"
      >
      <mat-autocomplete 
        #auto="matAutocomplete"
      >
        <mat-option 
          *ngFor="let ticker of validTickers" 
          [value]="ticker"
        >
          {{ticker}}
        </mat-option>
      </mat-autocomplete>
      <button 
        [disabled]="searchControl.invalid"
        matSuffix 
        mat-icon-button 
        aria-label="Search stock data" 
        (click)="search()"
      >
        <mat-icon>
          search
        </mat-icon>
      </button>
      <mat-error 
        *ngIf="searchControl.errors?.['forbidden']"
      >
        Select a valid ticker symbol
      </mat-error>
  
    </mat-form-field>
  </form>
  
  <mat-divider ></mat-divider>
  
  <router-outlet></router-outlet>  
</main>